version: "3.8"
services:
  server:
    build: ./server
    ports:
      - "1000:1000"
    env_file:
      - ./server/.env

  python_service:
    build: ./python_code
    ports:
      - "5002:5002"
    env_file:
      - ./python_code/.env
    depends_on:
      - server

  client:
    build: ./client
    ports:
      - "3000:80"
    env_file:
      - ./client/.env
    depends_on:
      - server
