.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-with-header {
  flex: 1;
  padding-top: 100px;
}

@media (max-width: 768px) {
  .main-with-header {
    padding-top: 120px;
  }
}

.main-without-header {
  flex: 1;
}